.roadmap::before {
  content: "";
  width: 30rem;
  height: 10rem;
  position: absolute;
  float: right;
  top: -10rem;
  /* left: 0; */
  right: 0;
  border-bottom-right-radius: 30%;
  box-shadow: 0 0 0 #aaaaaa;
}
.quarters {
  position: absolute;
  width: 160px;
  height: 70px;
  left: 457px;
  top: 2912px;

  font-family: "Archivo Black";
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 70px;

  /* identical to box height, or 70% */
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
