@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Poppins';
  color: white;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
}

html{
  scroll-behavior: smooth;
}

body{
  background: #150627;
}

.container{
  overflow: hidden;
  background: #0093E9;
  background: linear-gradient(0, rgba(167, 73, 241, 0.54), rgba(0, 0, 0, 0.2)), url("./assets/bgimg.png");  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(180deg, rgba(167, 73, 241, 0.44), rgba(0, 0, 0, 0.7)), url("./assets/bgimg.png"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

ul{
  list-style: none;
  margin-right: 1rem;
}

ul li{
  margin-right: 1.5rem;
}

ul li a{
  text-decoration: none;
}

.card{
  position: relative;
  border: 6px solid transparent;
  background: #150627;
  border-radius: 30px;
  background-image: linear-gradient(#150627, #150627), 
                    linear-gradient(to right, #540DEC, #0AB7ED, #EA06EF);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.card:hover{
  position: relative;
  border: 6px solid transparent;
  background: #150627;
  background-image: linear-gradient(#150627, #150627), 
                    linear-gradient(-45deg , rgba(20, 255, 0, 1), rgba(255, 6, 6, 1), rgba(253, 100, 6, 1), rgba(250, 255, 4, 1));
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.card:hover .cardCont{
  display: none;
}

@media only screen and (max-width: 425px){
  .container{
      height: auto;
      padding-bottom: 2rem;
  }
}